*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(94, 101, 101);
}
.buttons{
    margin: 30px 50px;
}
.buttons button{
    margin: 10px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    align-items: flex-end;
}
.toast{
    width: 300px;
    height: 50px;
    background-color: white;
    margin: 14px 0;
    border: 0;
    outline: 0;
    font-weight: 500;
    display: flex;
    align-items:  center;
    padding: 15px 0;
    position: relative;
    /* border-radius: 10px; */
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft{
    100%{
        transform: translateX(0%);
    }
}
.toast i{
    font-size: 30px;
    margin: 5px 15px;
    color: green;
}.toast.red i{
    font-size: 30px;
    margin: 5px 15px;
    color: red;
}.toast.yellow i{
    font-size: 30px;
    margin: 5px 15px;
    color: orange;
}
.toast::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: green;
  left: 0;
  bottom: 0;
  animation: anime 6s linear forwards;
}
@keyframes anime{
    100%{
        width:0;
    }
}
.toast.red::after{
background-color: red;
}
.toast.yellow::after{
  background: orange;
}