*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgba(84, 55, 92, 0.397);
}
.container{
    background: white;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
}
.container p{
    font-weight: 600;
    font-size: 15px;
    color: rgb(121, 68, 122);
    margin-bottom: 8px;
}
.container input{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(121, 68, 122);
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
    color: rgb(121, 68, 122);
}
.container button{
    width: 100%;
    height: 50px;
    background:  rgba(84, 55, 92, 0.397);
    border: 1px solid  rgb(121, 68, 122);
    outline: 0;
    border-radius: 5px;
    color: rgb(121, 68, 122);
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 ;
    cursor: pointer;
}
#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1.5s;
}
#imgBox img{
    width: 100%;
    padding: 10px;
}
#imgBox.showImg{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid rgb(121, 68, 122);
}