@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  color: white;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(118, 127, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-box{
    background-color: black;
    width: 100%;
    max-width: 600px;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.container-box h1{
    font-size: 35px;
    margin-bottom: 30px;
    position: relative;
}
.container-box h1::after{
  content: '';
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.container-box blockquote{
    font-size: 26px;
    min-height: 90px;
    text-align: center;
}
.container-box span{
    display: block;
    margin-top: 20px;
    position: relative;
    left: 45%;
    width: 100px;
}
.container-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}
.buttons{
    /* width: 100%; */
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.buttons button{
background:  rgb(23, 124, 229);
font-size: 24px;
border: 1px solid rgb(23, 124, 229) ;
outline: 0;
color: #fff;
margin: 5px;
width: 150px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 25px;
cursor: pointer;
}
.buttons button img{
    width: 30px;
    margin-right: 5px;
}
.buttons button:nth-child(2){
    background: transparent;
}