*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(23, 40, 68);
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}
.container{
    margin-left: 12%;
    width: 420px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border: 2px solid red;
    padding: 5px 20px 20px;
}
.container h1{
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 40px;
}
.container h1 span{
    border-bottom: 3px solid blueviolet;
padding-bottom: 7px;
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 15px ;
    border-radius: 10px;
    margin-bottom: 20px;

}
.display input{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: black;
}
.display img{
  width: 30px;
  cursor: pointer;
}
button{
    background-color: rgb(17, 100, 81);
    border: 0;
    outline: 0;
    color: white;
    font-size: 22px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 26px;
    border-radius: 5px;
    cursor: pointer;
}

button img{
    width: 30px;
    margin-right: 10px;
}